In [2]:
#################################
# Cleaning of file entire combined file
# remove the n/a rows
# join in quality info
# verify DRGs look correct
# join in DRG descriptions for consistancy
# remove the type of code column
#
#####################################

In [1]:
import pandas as pd

In [5]:
all_df=pd.read_csv('../Group 6 Data.csv',encoding = "cp1252")

In [9]:
all_df.columns

Index(['US News Ranking', 'Hospital Name', 'Billing Code Type', 'DRG Number',
       'DRG Description', 'Payor', 'Plan', 'Charge Amount'],
      dtype='object')

In [13]:
all_df['Charge Amount'].isnull().sum()

0

In [14]:
all_df['Hospital Name'].unique()

array(['NYU Langone Hospitals Hospital A',
       'NYU Langone Hospitals Hospital B',
       'NYU Langone Hospitals Hospital C',
       'NYU Langone Hospitals Hospital D',
       'New York-Presbyterian Hospital', 'Northwestern Memorial Hospital',
       'Hospitals of the University of Pennsylvania-Penn Presbyterian',
       'BWH Parent', 'University of Michigan', 'Mayo Clinic Rochester',
       'Cleveland Clinic', 'UCLA Medical Center', 'Massachusetts General',
       'Mayo Clinic Arizona', 'Mount Sinai Hospital',
       'RushUniversityMedicalCenter',
       'VANDERBILT UNIVERSITY MEDICAL CENTER', 'Barnes-Jewish Hospital'],
      dtype=object)

In [19]:
all_df['Payor'].unique()

array(['Aetna', 'BCBS', 'Cigna', 'Other', 'United Healthcare',
       'Gross Charge', 'Self Pay'], dtype=object)

In [21]:
all_df.shape

(1201863, 8)

In [22]:
all_df['Charge Amount'].isnull().values.any()

False

In [24]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201863 entries, 0 to 1201862
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   US News Ranking    1201863 non-null  int64
 1   Hospital Name      1201863 non-null  object
 2   Billing Code Type  1201863 non-null  object
 3   DRG Number         1201863 non-null  int64
 4   DRG Description    1201777 non-null  object
 5   Payor              1201863 non-null  object
 6   Plan               1201863 non-null  object
 7   Charge Amount      1201863 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 73.4+ MB

In [25]:
all_df['Charge Amount'].describe()

count    1.201863e+06
mean     5.331706e+04
std      9.226388e+04
min      9.820000e+00
25%      1.548339e+04
50%      2.956684e+04
75%      5.809670e+04
max      3.649520e+07
Name: Charge Amount, dtype: float64

In [26]:
all_df

,US News Ranking,Hospital Name,Billing Code Type,DRG Number,DRG Description,Payor,Plan,Charge Amount
0,8,NYU Langone Hospitals Hospital A,MSDRG,1,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,Aetna,Hospital A1005AETNA HMO,618308.80
1,8,NYU Langone Hospitals Hospital A,MSDRG,2,HEART TRANSPLANT OR IMPLANT OF HEART ASSIST SY...,Aetna,Hospital A1005AETNA HMO,320135.60
2,8,NYU Langone Hospitals Hospital A,MSDRG,3,ECMO OR TRACHEOSTOMY WITH MV >96 HOURS OR PRIN...,Aetna,Hospital A1005AETNA HMO,408571.10
3,8,NYU Langone Hospitals Hospital A,MSDRG,4,TRACHEOSTOMY WITH MV >96 HOURS OR PRINCIPAL DI...,Aetna,Hospital A1005AETNA HMO,254962.70
4,8,NYU Langone Hospitals Hospital A,MSDRG,5,LIVER TRANSPLANT WITH MCC OR INTESTINAL TRANSP...,Aetna,Hospital A1005AETNA HMO,218875.50
...,...,...,...,...,...,...,...,...
1201858,17,Barnes-Jewish Hospital,DRG,982,extensive o.r. procedures unrelated to princip...,Other,ACCESS PPO,48547.19
1201859,17,Barnes-Jewish Hospital,DRG,982,extensive o.r. procedures unrelated to princip...,United Healthcare,UHC,12816.00
1201860,17,Barnes-Jewish Hospital,DRG,982,extensive o.r. procedures unrelated to princip...,United Healthcare,UHC MEDICARE,19367.35
1201861,17,Barnes-Jewish Hospital,DRG,983,extensive o.r. procedures unrelated to princip...,Other,ACCESS PPO,31154.50
1201862,17,Barnes-Jewish Hospital,DRG,987,non-extensive o.r. procedures unrelated to pri...,United Healthcare,UHC MEDICARE,25977.36