In [2]:
#################################
# Cleaning of file entire combined file
# remove the n/a rows
# join in quality info
# verify DRGs look correct
# join in DRG descriptions for consistancy
# remove the type of code column
#
#####################################

In [1]:
import pandas as pd

In [2]:
all_df=pd.read_csv('../Group6_DRG.csv',encoding = "cp1252")

In [3]:
all_df.columns

Index(['Unnamed: 0', 'US News Ranking', 'Hospital Name', 'DRG Number', 'Payor',
       'Plan', 'Charge Amount', 'DRG Description'],
      dtype='object')

In [4]:
all_df['Charge Amount'].isnull().sum()

0

In [5]:
all_df['Hospital Name'].unique()

array(['NYU Langone Hospitals Hospital A',
       'NYU Langone Hospitals Hospital B',
       'NYU Langone Hospitals Hospital C',
       'NYU Langone Hospitals Hospital D',
       'New York-Presbyterian Hospital', 'Northwestern Memorial Hospital',
       'BWH Parent', 'University of Michigan', 'Mayo Clinic Rochester',
       'Cleveland Clinic', 'UCLA Medical Center', 'Massachusetts General',
       'Mayo Clinic Arizona', 'Mount Sinai Hospital',
       'RushUniversityMedicalCenter',
       'VANDERBILT UNIVERSITY MEDICAL CENTER', 'Barnes-Jewish Hospital',
       'Hospitals of the University of Pennsylvania-Penn Presbyterian'],
      dtype=object)

In [6]:
all_df['Payor'].unique()

array(['Aetna', 'BCBS', 'Cigna', 'Other', 'United Healthcare',
       'Gross Charge', 'Self Pay'], dtype=object)

In [7]:
all_df.shape

(1201224, 8)

In [8]:
all_df['Charge Amount'].isnull().values.any()

False

In [9]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201224 entries, 0 to 1201223
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1201224 non-null  int64
 1   US News Ranking  1201224 non-null  int64
 2   Hospital Name    1201224 non-null  object
 3   DRG Number       1201224 non-null  int64
 4   Payor            1201224 non-null  object
 5   Plan             1201224 non-null  object
 6   Charge Amount    1201224 non-null  float64
 7   DRG Description  1135465 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 73.3+ MB

In [10]:
all_df['Charge Amount'].describe()

count    1.201224e+06
mean     5.331953e+04
std      9.222740e+04
min      9.820000e+00
25%      1.548030e+04
50%      2.956666e+04
75%      5.812355e+04
max      3.649520e+07
Name: Charge Amount, dtype: float64

In [11]:
all_df

,Unnamed: 0,US News Ranking,Hospital Name,DRG Number,Payor,Plan,Charge Amount,DRG Description
0,0,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...
1,1,8,NYU Langone Hospitals Hospital B,1,Aetna,Hospital B1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...
2,2,8,NYU Langone Hospitals Hospital C,1,Aetna,Hospital C1005AETNA HMO,475737.80,Heart transplant or implant of heart assist sy...
3,3,8,NYU Langone Hospitals Hospital D,1,Aetna,Hospital D1005AETNA HMO,576211.20,Heart transplant or implant of heart assist sy...
4,4,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1006AETNA INDEMNITY,1981340.00,Heart transplant or implant of heart assist sy...
...,...,...,...,...,...,...,...,...
1201219,1201858,2,Cleveland Clinic,999,United Healthcare,MYCARE UHC MEDICARE BH,8529.20,NaN
1201220,1201859,2,Cleveland Clinic,999,Other,UNIVERA SENIORCHOICE,4489.20,NaN
1201221,1201860,2,Cleveland Clinic,999,Other,UPMC FOR LIFE HMO,4489.20,NaN
1201222,1201861,2,Cleveland Clinic,999,Other,VALOR HEALTH PLAN HMO SNP,4489.20,NaN
1201223,1201862,3,UCLA Medical Center,999,United Healthcare,United,90304.45,NaN

In [39]:
def categorise(row):
    if row['Hospital Name'] == 'New York-Presbyterian Hospital':
        return '6210024'
    elif row['Hospital Name']=='Northwestern Memorial Hospital':
        return '6430545'
    elif row['Hospital Name']=='Hospitals of the University of Pennsylvania-Penn Presbyterian':
        return '6231900'
    elif row['Hospital Name']== 'BWH Parent':
        return '6140215'
    elif row['Hospital Name']=='University of Michigan':
        return '6440110'
    elif row['Hospital Name']== 'Barnes-Jewish Hospital':':
        return '6610451'
    elif row['Hospital Name']=='Cleveland Clinic':
        return '6410670'
    elif row['Hospital Name']=='UCLA Medical Center':
        return '6931755'
    elif row['Hospital Name']=='Massachusetts General':
        return '6140430'
    elif row['Hospital Name'] == 'Mayo Clinic Arizona':
        return '6860019'
    elif row['Hospital Name']== 'Mount Sinai Hospital':
        return '6213140'
    elif row['Hospital Name']=='RushUniversityMedicalCenter':
        return '6430985'
    elif row['Hospital Name']== 'VANDERBILT UNIVERSITY MEDICAL CENTER':
        return '6521060'
    elif row['Hospital Name']=='Barnes-Jewish Hospital':
        return '6630930'
    else:
        return '6212925'

SyntaxError: invalid syntax (Temp/ipykernel_13416/2042008658.py, line 2)

In [35]:
all_df['Hospital Name'].unique()

array(['NYU Langone Hospitals Hospital A',
       'NYU Langone Hospitals Hospital B',
       'NYU Langone Hospitals Hospital C',
       'NYU Langone Hospitals Hospital D',
       'New York-Presbyterian Hospital', 'Northwestern Memorial Hospital',
       'BWH Parent', 'University of Michigan', 'Mayo Clinic Rochester',
       'Cleveland Clinic', 'UCLA Medical Center', 'Massachusetts General',
       'Mayo Clinic Arizona', 'Mount Sinai Hospital',
       'RushUniversityMedicalCenter',
       'VANDERBILT UNIVERSITY MEDICAL CENTER', 'Barnes-Jewish Hospital',
       'Hospitals of the University of Pennsylvania-Penn Presbyterian'],
      dtype=object)

In [ ]:
# create Unique ID per hospital column
all_df['AHA ID'] = all_df.apply(lambda row: print(row['Hospital Name']), axis=1)

In [23]:
all_df['AHA ID'].unique()

array(['6212925'], dtype=object)

In [ ]:
all_df['AHA ID'].unique()

In [43]:
# bring in Categorization
drg_category=pd.read_excel('./DRG_Specialty_category_mapping.xlsx')

In [48]:
drg_dummies=pd.get_dummies(drg_category)

In [52]:
drg_dummies.columns

Index(['DRG', 'Specialty _Cancer', 'Specialty _Cardiology and heart surgery',
       'Specialty _Diabetes & Endocrinology', 'Specialty _Ear, Nose & Throat',
       'Specialty _Gastroenterology & GI Surgery', 'Specialty _Geriatrics',
       'Specialty _Gynecology', 'Specialty _Neurology & Neurosurgery',
       'Specialty _Orthopedics', 'Specialty _Pulmonology & Lung Surgery',
       'Specialty _Urology'],
      dtype='object')

In [53]:
all_df.columns

Index(['Unnamed: 0', 'US News Ranking', 'Hospital Name', 'DRG Number', 'Payor',
       'Plan', 'Charge Amount', 'DRG Description', 'AHA ID'],
      dtype='object')

In [55]:
drg_specialty=pd.merge(all_df,drg_dummies,how='left',left_on="DRG Number",
    right_on='DRG',)

In [58]:
drg_specialty=drg_specialty.drop(['Unnamed: 0','AHA ID'], axis=1)

In [60]:
# ouput csv file
drg_specialty.to_csv("Group6_DRGv2.csv", index=False)