In [1]:
#################################
# Cleaning of file entire combined file
# remove the n/a rows
# join in quality info
# verify DRGs look correct
# join in DRG descriptions for consistancy
# remove the type of code column
#
#####################################

In [2]:
import pandas as pd

In [3]:
all_df=pd.read_csv('../Group6_DRG.csv',encoding = "cp1252")

In [4]:
all_df.columns

Index(['Unnamed: 0', 'US News Ranking', 'Hospital Name', 'DRG Number', 'Payor',
       'Plan', 'Charge Amount', 'DRG Description'],
      dtype='object')

In [5]:
all_df['Charge Amount'].isnull().sum()

0

In [6]:
all_df['Hospital Name'].unique()

array(['NYU Langone Hospitals Hospital A',
       'NYU Langone Hospitals Hospital B',
       'NYU Langone Hospitals Hospital C',
       'NYU Langone Hospitals Hospital D',
       'New York-Presbyterian Hospital', 'Northwestern Memorial Hospital',
       'BWH Parent', 'University of Michigan', 'Mayo Clinic Rochester',
       'Cleveland Clinic', 'UCLA Medical Center', 'Massachusetts General',
       'Mayo Clinic Arizona', 'Mount Sinai Hospital',
       'RushUniversityMedicalCenter',
       'VANDERBILT UNIVERSITY MEDICAL CENTER', 'Barnes-Jewish Hospital',
       'Hospitals of the University of Pennsylvania-Penn Presbyterian'],
      dtype=object)

In [7]:
all_df['Payor'].unique()

array(['Aetna', 'BCBS', 'Cigna', 'Other', 'United Healthcare',
       'Gross Charge', 'Self Pay'], dtype=object)

In [8]:
all_df.shape

(1201224, 8)

In [9]:
all_df['Charge Amount'].isnull().values.any()

False

In [10]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201224 entries, 0 to 1201223
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Unnamed: 0       1201224 non-null  int64
 1   US News Ranking  1201224 non-null  int64
 2   Hospital Name    1201224 non-null  object
 3   DRG Number       1201224 non-null  int64
 4   Payor            1201224 non-null  object
 5   Plan             1201224 non-null  object
 6   Charge Amount    1201224 non-null  float64
 7   DRG Description  1135465 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 73.3+ MB

In [11]:
all_df['Charge Amount'].describe()

count    1.201224e+06
mean     5.331953e+04
std      9.222740e+04
min      9.820000e+00
25%      1.548030e+04
50%      2.956666e+04
75%      5.812355e+04
max      3.649520e+07
Name: Charge Amount, dtype: float64

In [12]:
all_df

,Unnamed: 0,US News Ranking,Hospital Name,DRG Number,Payor,Plan,Charge Amount,DRG Description
0,0,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...
1,1,8,NYU Langone Hospitals Hospital B,1,Aetna,Hospital B1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...
2,2,8,NYU Langone Hospitals Hospital C,1,Aetna,Hospital C1005AETNA HMO,475737.80,Heart transplant or implant of heart assist sy...
3,3,8,NYU Langone Hospitals Hospital D,1,Aetna,Hospital D1005AETNA HMO,576211.20,Heart transplant or implant of heart assist sy...
4,4,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1006AETNA INDEMNITY,1981340.00,Heart transplant or implant of heart assist sy...
...,...,...,...,...,...,...,...,...
1201219,1201858,2,Cleveland Clinic,999,United Healthcare,MYCARE UHC MEDICARE BH,8529.20,NaN
1201220,1201859,2,Cleveland Clinic,999,Other,UNIVERA SENIORCHOICE,4489.20,NaN
1201221,1201860,2,Cleveland Clinic,999,Other,UPMC FOR LIFE HMO,4489.20,NaN
1201222,1201861,2,Cleveland Clinic,999,Other,VALOR HEALTH PLAN HMO SNP,4489.20,NaN
1201223,1201862,3,UCLA Medical Center,999,United Healthcare,United,90304.45,NaN

In [13]:
def categorise(row):
    if row['Hospital Name'] == 'New York-Presbyterian Hospital':
        return '6210024'
    elif row['Hospital Name']=='Northwestern Memorial Hospital':
        return '6430545'
    elif row['Hospital Name']=='Hospitals of the University of Pennsylvania-Penn Presbyterian':
        return '6231900'
    elif row['Hospital Name']== 'BWH Parent':
        return '6140215'
    elif row['Hospital Name']=='University of Michigan':
        return '6440110'
    elif row['Hospital Name']== 'Barnes-Jewish Hospital':
        return '6630930'
    elif row['Hospital Name']=='Cleveland Clinic':
        return '6410670'
    elif row['Hospital Name']=='UCLA Medical Center':
        return '6931755'
    elif row['Hospital Name']=='Massachusetts General':
        return '6140430'
    elif row['Hospital Name'] == 'Mayo Clinic Arizona':
        return '6860019'
    elif row['Hospital Name'] == 'Mayo Clinic Rochester':
        return '6610451'
    elif row['Hospital Name']== 'Mount Sinai Hospital':
        return '6213140'
    elif row['Hospital Name']=='RushUniversityMedicalCenter':
        return '6430985'
    elif row['Hospital Name']== 'VANDERBILT UNIVERSITY MEDICAL CENTER':
        return '6521060'
    elif row['Hospital Name']=='Barnes-Jewish Hospital':
        return '6630930'
    else:
        return '6212925'

In [14]:
all_df['Hospital Name'].unique()

array(['NYU Langone Hospitals Hospital A',
       'NYU Langone Hospitals Hospital B',
       'NYU Langone Hospitals Hospital C',
       'NYU Langone Hospitals Hospital D',
       'New York-Presbyterian Hospital', 'Northwestern Memorial Hospital',
       'BWH Parent', 'University of Michigan', 'Mayo Clinic Rochester',
       'Cleveland Clinic', 'UCLA Medical Center', 'Massachusetts General',
       'Mayo Clinic Arizona', 'Mount Sinai Hospital',
       'RushUniversityMedicalCenter',
       'VANDERBILT UNIVERSITY MEDICAL CENTER', 'Barnes-Jewish Hospital',
       'Hospitals of the University of Pennsylvania-Penn Presbyterian'],
      dtype=object)

In [15]:
# create Unique ID per hospital column
all_df['AHA ID'] = all_df.apply(lambda row: categorise(row), axis=1)

In [16]:
all_df['AHA ID'].groupby(all_df['Hospital Name']).unique()

Hospital Name
BWH Parent                                                       [6140215]
Barnes-Jewish Hospital                                           [6630930]
Cleveland Clinic                                                 [6410670]
Hospitals of the University of Pennsylvania-Penn Presbyterian    [6231900]
Massachusetts General                                            [6140430]
Mayo Clinic Arizona                                              [6860019]
Mayo Clinic Rochester                                            [6610451]
Mount Sinai Hospital                                             [6213140]
NYU Langone Hospitals Hospital A                                 [6212925]
NYU Langone Hospitals Hospital B                                 [6212925]
NYU Langone Hospitals Hospital C                                 [6212925]
NYU Langone Hospitals Hospital D                                 [6212925]
New York-Presbyterian Hospital                                   [6210024]
Northwestern Memorial Hospital                                   [6430545]
RushUniversityMedicalCenter                                      [6430985]
UCLA Medical Center                                              [6931755]
University of Michigan                                           [6440110]
VANDERBILT UNIVERSITY MEDICAL CENTER                             [6521060]
Name: AHA ID, dtype: object

In [17]:
all_df['AHA ID'].unique()

array(['6212925', '6210024', '6430545', '6140215', '6440110', '6610451',
       '6410670', '6931755', '6140430', '6860019', '6213140', '6430985',
       '6521060', '6630930', '6231900'], dtype=object)

In [18]:
# bring in Categorization
drg_category=pd.read_excel('./DRG_Specialty_category_mapping.xlsx')

In [19]:
drg_dummies=pd.get_dummies(drg_category)

In [20]:
drg_dummies.columns

Index(['DRG', 'Specialty _Cancer', 'Specialty _Cardiology and heart surgery',
       'Specialty _Diabetes & Endocrinology', 'Specialty _Ear, Nose & Throat',
       'Specialty _Gastroenterology & GI Surgery', 'Specialty _Geriatrics',
       'Specialty _Gynecology', 'Specialty _Neurology & Neurosurgery',
       'Specialty _Orthopedics', 'Specialty _Pulmonology & Lung Surgery',
       'Specialty _Urology'],
      dtype='object')

In [21]:
all_df.columns

Index(['Unnamed: 0', 'US News Ranking', 'Hospital Name', 'DRG Number', 'Payor',
       'Plan', 'Charge Amount', 'DRG Description', 'AHA ID'],
      dtype='object')

In [22]:
drg_specialty=pd.merge(all_df,drg_dummies,how='left',left_on="DRG Number",
    right_on='DRG',)

In [23]:
drg_specialty=drg_specialty.drop(['Unnamed: 0'], axis=1)

In [24]:
drg_specialty['Specialty _Cancer'].isna().sum()

71508

In [25]:
columns=drg_dummies.columns

In [26]:
columns=columns.drop(['DRG'])

In [27]:
columns

Index(['Specialty _Cancer', 'Specialty _Cardiology and heart surgery',
       'Specialty _Diabetes & Endocrinology', 'Specialty _Ear, Nose & Throat',
       'Specialty _Gastroenterology & GI Surgery', 'Specialty _Geriatrics',
       'Specialty _Gynecology', 'Specialty _Neurology & Neurosurgery',
       'Specialty _Orthopedics', 'Specialty _Pulmonology & Lung Surgery',
       'Specialty _Urology'],
      dtype='object')

In [28]:
for column in columns:
    drg_specialty[column]=drg_specialty[column].fillna(0)

In [29]:
drg_specialty['Specialty _Cancer']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1976992    0.0
1976993    0.0
1976994    0.0
1976995    0.0
1976996    0.0
Name: Specialty _Cancer, Length: 1976997, dtype: float64

In [30]:
# ouput csv file
drg_specialty.to_csv("Group6_DRGv2.csv", index=False)

In [31]:
#bring in specialty ranks;
specialty_rank=pd.read_excel('./top20_public_specialty_ranking_2021.xlsx')

In [32]:
specialty_rank.dtypes

AHA ID                int64
Hospitals            object
City                 object
State                object
cancer_rank           int64
cardiology_rank       int64
diabetes_rank       float64
ent_rank            float64
gi_rank             float64
geriatrics_rank       int64
gynecology_rank     float64
neuro_rank          float64
ortho_rank          float64
pulmonology_rank      int64
urology_rank        float64
dtype: object

In [33]:
specialty_rank['AHA ID char']=specialty_rank['AHA ID'].apply(str)

In [34]:
specialty_rank=specialty_rank.drop(['AHA ID'],axis=1)

In [35]:
drg_specialty.columns

Index(['US News Ranking', 'Hospital Name', 'DRG Number', 'Payor', 'Plan',
       'Charge Amount', 'DRG Description', 'AHA ID', 'DRG',
       'Specialty _Cancer', 'Specialty _Cardiology and heart surgery',
       'Specialty _Diabetes & Endocrinology', 'Specialty _Ear, Nose & Throat',
       'Specialty _Gastroenterology & GI Surgery', 'Specialty _Geriatrics',
       'Specialty _Gynecology', 'Specialty _Neurology & Neurosurgery',
       'Specialty _Orthopedics', 'Specialty _Pulmonology & Lung Surgery',
       'Specialty _Urology'],
      dtype='object')

In [36]:
rank_specialty_df=pd.merge(drg_specialty,specialty_rank,how='left',left_on="AHA ID",
    right_on='AHA ID char',)

In [37]:
rank_specialty_df

,US News Ranking,Hospital Name,DRG Number,Payor,Plan,Charge Amount,DRG Description,AHA ID,DRG,Specialty _Cancer,...,diabetes_rank,ent_rank,gi_rank,geriatrics_rank,gynecology_rank,neuro_rank,ortho_rank,pulmonology_rank,urology_rank,AHA ID char
0,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...,6212925,1.0,0.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
1,8,NYU Langone Hospitals Hospital A,1,Aetna,Hospital A1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...,6212925,1.0,0.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
2,8,NYU Langone Hospitals Hospital B,1,Aetna,Hospital B1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...,6212925,1.0,0.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
3,8,NYU Langone Hospitals Hospital B,1,Aetna,Hospital B1005AETNA HMO,618308.80,Heart transplant or implant of heart assist sy...,6212925,1.0,0.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
4,8,NYU Langone Hospitals Hospital C,1,Aetna,Hospital C1005AETNA HMO,475737.80,Heart transplant or implant of heart assist sy...,6212925,1.0,0.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976992,2,Cleveland Clinic,999,United Healthcare,MYCARE UHC MEDICARE BH,8529.20,NaN,6410670,NaN,0.0,...,13.0,22.0,3.0,2,3.0,40.0,7.0,5,2.0,6410670
1976993,2,Cleveland Clinic,999,Other,UNIVERA SENIORCHOICE,4489.20,NaN,6410670,NaN,0.0,...,13.0,22.0,3.0,2,3.0,40.0,7.0,5,2.0,6410670
1976994,2,Cleveland Clinic,999,Other,UPMC FOR LIFE HMO,4489.20,NaN,6410670,NaN,0.0,...,13.0,22.0,3.0,2,3.0,40.0,7.0,5,2.0,6410670
1976995,2,Cleveland Clinic,999,Other,VALOR HEALTH PLAN HMO SNP,4489.20,NaN,6410670,NaN,0.0,...,13.0,22.0,3.0,2,3.0,40.0,7.0,5,2.0,6410670
1976996,3,UCLA Medical Center,999,United Healthcare,United,90304.45,NaN,6931755,NaN,0.0,...,3.0,12.0,4.0,4,21.0,8.0,5.0,4,8.0,6931755

In [38]:
# ouput csv file
rank_specialty_df.to_csv("rank_specialty.csv", index=False)

In [39]:
#################################################################
#subset to cardiology DRGS
####################################################################
rank_specialty_df[rank_specialty_df['Specialty _Cancer']==1]

,US News Ranking,Hospital Name,DRG Number,Payor,Plan,Charge Amount,DRG Description,AHA ID,DRG,Specialty _Cancer,...,diabetes_rank,ent_rank,gi_rank,geriatrics_rank,gynecology_rank,neuro_rank,ortho_rank,pulmonology_rank,urology_rank,AHA ID char
31436,8,NYU Langone Hospitals Hospital A,14,Aetna,Hospital A1005AETNA HMO,228327.70,Autologous bone marrow transplant with CC/MCC ...,6212925,14.0,1.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
31438,8,NYU Langone Hospitals Hospital B,14,Aetna,Hospital B1005AETNA HMO,228327.70,Autologous bone marrow transplant with CC/MCC ...,6212925,14.0,1.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
31440,8,NYU Langone Hospitals Hospital C,14,Aetna,Hospital C1005AETNA HMO,175679.40,Autologous bone marrow transplant with CC/MCC ...,6212925,14.0,1.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
31442,8,NYU Langone Hospitals Hospital D,14,Aetna,Hospital D1005AETNA HMO,212781.90,Autologous bone marrow transplant with CC/MCC ...,6212925,14.0,1.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
31444,8,NYU Langone Hospitals Hospital A,14,Aetna,Hospital A1006AETNA INDEMNITY,899045.10,Autologous bone marrow transplant with CC/MCC ...,6212925,14.0,1.0,...,4.0,42.0,5.0,5,16.0,5.0,4.0,6,9.0,6212925
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832738,20,VANDERBILT UNIVERSITY MEDICAL CENTER,848,Cigna,CIGNA VUMCAO_RATE,16069.89,Chemotherapy without acute leukemia as seconda...,6521060,848.0,1.0,...,31.0,10.0,NaN,27,31.0,48.0,NaN,17,14.0,6521060
1832740,20,VANDERBILT UNIVERSITY MEDICAL CENTER,848,Other,HUMANA VUMCP_RATE,22132.21,Chemotherapy without acute leukemia as seconda...,6521060,848.0,1.0,...,31.0,10.0,NaN,27,31.0,48.0,NaN,17,14.0,6521060
1832742,20,VANDERBILT UNIVERSITY MEDICAL CENTER,848,Other,HUMANA VUMC_RATE,17044.83,Chemotherapy without acute leukemia as seconda...,6521060,848.0,1.0,...,31.0,10.0,NaN,27,31.0,48.0,NaN,17,14.0,6521060
1832744,20,VANDERBILT UNIVERSITY MEDICAL CENTER,848,United Healthcare,UNITED HEALTHCARE Comm_A,17975.60,Chemotherapy without acute leukemia as seconda...,6521060,848.0,1.0,...,31.0,10.0,NaN,27,31.0,48.0,NaN,17,14.0,6521060
1832746,20,VANDERBILT UNIVERSITY MEDICAL CENTER,848,Aetna,Aetna Commercial A VW_RATE,15720.03,Chemotherapy without acute leukemia as seconda...,6521060,848.0,1.0,...,31.0,10.0,NaN,27,31.0,48.0,NaN,17,14.0,6521060